APP_NAME=FastAPI Features
DEBUG=false

MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=fastapi_features

OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_MODEL=openai/gpt-4o-mini
SBERT_MODEL=sentence-transformers/all-MiniLM-L6-v2
SCORING_VERSION=ats-scoring-v1

COLLECTION_RESUME=resume-new
COLLECTION_EXTRACTION=extraction
COLLECTION_DOMAIN_ANALYSIS=domain-analysis
RESUME_EXTRACTION_API_URL=https://resume-builder.cantileverlabs.com/api/resume-parsing/extract-text
BEARER_TOKEN=your_resume_extraction_bearer_token
